<div class="alert bg-danger">


    <span class="alert-topic">
        <span ng-bind="topic"></span>
    </span>
    <span class="alert-description">
        <span ng-bind="description">
            <span ng-show="carForm.plateField.$error.required">
                You must inform the plate of the car!
            </span>
            <span ng-show="carForm.plateField.$error.minlength">
                The plate must have at least 6 characters!
            </span>
            <span ng-show="carForm.plateField.$error.maxlength">
                The plate must have at most 10 characters!
            </span>
            <span ng-show="carForm.plateField.$error.pattern">
                The plate must start with non-digits, followed by 4 to 7
                numbers!

            </span>
        </span>
    </span>

    <a href="" ng-click="close()">Close</a>

</div>